@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lobster", cursive;
    src: url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
  }
}

@layer base {
  @font-face {
    font-family: "RocknRoll One", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
  }
}

body {
  font-family: "Lobster";
}

.logo {
  font-family: "RocknRoll One";
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #f1fec6;
}
